body {font-family : Arial, Helvetica, sans-serif; background-color: aliceblue; color: black; margin : 0; padding : 0;
background: rgba(255, 245, 157, 0.85); /* Soft yellow, inviting and readable */
}
header {
    background-color: #ffe4b2;
    padding: 20px;
    text-align: center;
}
header h1 {
    color: #721c24;
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.404);
}
body h1 {
    font-size: 2.5em;
    color: #721c24;
    margin-top: 20px;

}
a{
    text-decoration: none;
    font-weight: bold;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.404);
    font-size: 2em;
}
p{
    font-size: 0.8em;
    color: #333;
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);
}
@media (max-width: 600px) {

}
.card {
    background: #fffbe6;
    margin: 24px;
    padding: 24px;
    border-radius: 22px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.circle-img {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border-radius: 50%
}
.label {
    margin-top: 1px;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px #ccc;
    
}
.main-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    margin: 32px;
    background-color: #dad6c5;
    border-radius: 20px;
    flex-wrap: wrap;
}